
<div class="container">
  <h1 class = "title">All my lists</h1>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list), class: "btn btn-dark" %></li>
    <% end %>
  </ul>

  <%= link_to "add a list",  new_list_path, class:"btn btn-success"%>

</div>
